	<meta charset="UTF-8"/>
	<link rel="stylesheet" data-th-href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" data-th-href="@{/assets/vendor/font-awesome/css/font-awesome.min.css}"/>
	<link rel="stylesheet" data-th-href="@{/assets/vendor/linearicons/style.css}"/>
	<link rel="stylesheet" data-th-href="@{/assets/vendor/chartist/css/chartist-custom.css}"/>
	<!-- MAIN CSS -->
	<link rel="stylesheet" data-th-href="@{/assets/css/main.css}"/>
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" data-th-href="@{/assets/css/demo.css}"/>
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet"/>
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" data-th-href="@{/assets/img/apple-icon.png}"/>
	<link rel="icon" type="image/png" sizes="96x96" data-th-href="@{/assets/img/favicon.png}"/>
	<script data-th-src="@{/assets/vendor/jquery/jquery.min.js}"></script>
	<script data-th-src="@{/assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<script data-th-src="@{/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
	<script data-th-src="@{/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js}"></script>
	<script data-th-src="@{/assets/vendor/chartist/js/chartist.min.js}"></script>
	<script data-th-src="@{/assets/scripts/klorofil-common.js}"></script>