<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.LogMapper" >
  <resultMap id="BaseResultMap" type="com.entry.Log" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="log_id" property="logId" jdbcType="VARCHAR" />
    <result column="log_user" property="logUser" jdbcType="VARCHAR" />
    <result column="log_time" property="logTime" jdbcType="TIMESTAMP" />
    <result column="log_ip" property="logIp" jdbcType="VARCHAR" />
    <result column="log_action" property="logAction" jdbcType="VARCHAR" />
  </resultMap>
</mapper>